body {
    background:yellow;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

.gym{
  border: 1px solid black;
  width: 100%;
  display:flex;
  justify-content: center;
}

.idlers {
  position: absolute;
  left: 0;
  border: 1px solid red;
}

.center, .bag, h1, h2, h3, p {
  display:flex;
  justify-content: center;
}
  
.app {
    text-align: center;
    
  }

.pear {

  background:rgb(255, 255, 255);
}

.progress{
    border-radius: 20px;
    height: 30px;
    width: 300px;
}

.progress-done{
    display:flex;
    justify-content: center;
    align-items: center;
    color:yellow;
    background: linear-gradient(to left, rgb(15, 121, 110), rgb(131, 58, 58)) ;
    border-radius: 20px;
    height: 100%;
    width: 30%;   
    transition: 10s;
    /*opacity: 0;*/
}